*{
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  align-items: none;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(224, 0, 90, 40%);
}

.logo {
  margin-right: 20px; /* Espacio entre el logo y los elementos del menú */
  margin-left: 200px;
}

.logo__image {
  max-width: 200px; /* Cambia este valor según tus necesidades */
  max-height: 50px; /* Cambia este valor según tus necesidades */
  width: auto;
  height: auto;
  margin-left: 10px;
}

.menu {
  display: flex;
  justify-content: center;
  margin-right: 200px;
}

.menu__list {
  list-style-type: none;
  margin: 10;
  padding: 10;
  align-self: center;
}

.menu__item {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: center;
}

.menu__link {
  color: rgb(124, 0, 50);
  text-decoration: none;
}

.menu__link:hover {
  text-decoration: underline;
}

.Inicio{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
  background-color: rgb(114, 37, 68, 90%);
}

.gif{
  margin-left: 300px;
  margin-top: 150px;
}

.gif__image{
  width: 512px;
  height: 512px;
}

.Inicio__texto{
  color: white;
  background-color: aqua;
}

.Inicio__boton{
  width: 110px;
  height: 40px;
  
}

.Nececidad{
  background-color: rgb(224, 0, 90, 40%);
}

.Nececidad__titulo{

}

.Nececidad__texto{

}

.Solucion{

}

.Solucion__titulo{

}

.galeria{

}

.galeria__item{

}

.galeria__imagen{

}

.Opiniones{

}

.card{

}

.card__header{
  
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 5px;
}
.grid-item {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
}

.img1{
    width: 500px; /* Cambia el ancho de la imagen a 300 píxeles */
    height: 500px; /* Cambia la altura de la imagen a 200 píxeles */
}

.grid-item1{
    display: flex;
    justify-content: top;
    margin-top: 100px;
    margin-left: 200px;
}